Repository Ouranosinc/figanos, pull requests merged in 2025-03, with the labels that each got.

#304 Add tomli to CI
  CI/requirements_ci.in
  CI/requirements_ci.txt
Labels: CI

#307 Prepare v0.4.0
  .cruft.json
  .github/workflows/bump-version.yml
  CHANGELOG.rst
  README.rst
  pyproject.toml
  src/figanos/__init__.py
  tests/test_figanos.py
Labels: CI, docs

#308 fix get_rotpole
  CHANGELOG.rst
  docs/notebooks/figanos_multiplots.ipynb
  src/figanos/matplotlib/plot.py
  src/figanos/matplotlib/utils.py
Labels: docs
